body {
    width: 1280px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin-left:  50px;
}

header, footer, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
}

thead tr {
    border-bottom: 2px black solid;
    text-align: left;
}

td, th {
    padding-right: 40px;
}

td.environment {
    border-bottom: #CCC 1px solid;
    height: 50px;
}

ul {
    padding-left: 0px;
}

.horizontal-list li {
    display: inline;
    padding-right: 20px;
}

.highlighted {
    background-color: lightgoldenrodyellow;
    border: 2px orange dotted;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 90px;
}

.hidden {
    display: none;
}

.message-bar {
    margin-top: -10px;
    margin-bottom: 25px;
    padding-left: 10px;
}

.wide-selector {
    min-width: 175px;
}

.right-aligned-animation {
    position: relative;
    top: -42px;
}

.error{
    background-color: pink;
    border: 2px red dotted;
}

.confirmation{
    background-color: lightgreen;
    border: 2px green dotted;
}

.beta-tag {
    height: 40px;
    width: 400px;
    position: fixed;
    top: 50px;
    right: -110px;
    background-color: crimson;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    border: 3px whitesmoke solid;

    /*Vendor specific rotations until they support rotate:*/
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.exception {
    background-color: pink;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


.outer-ball {
	width:20px; /*50*/
	height:20px;

    background-color: rgba(0,0,0,0);
    border: 5px solid orange;/*rgba(0,183,229,0.9);*/
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
    box-shadow: 0 0 35px orange; /*#2187e7;*/	
	margin:0 auto;
	-moz-animation:spin 1s infinite linear;
	-webkit-animation:spin 1s infinite linear;
}
.inner-ball {
	width:12px; /*30*/
	height:12px;

	background-color: rgba(0,0,0,0);
    border: 5px solid orange; /*rgba(0,183,229,0.9);*/
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
    box-shadow: 0 0 6px orange; /*#2187e7;*/ 
	margin:0 auto;
	position:relative;
	top:-25px;
	-moz-animation:spinoff 1s infinite linear;
	-webkit-animation:spinoff 1s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}